<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWZpDFSINfmSnHsUcUDxYoTCDXCnbJ-xA</string>
	<key>GCM_SENDER_ID</key>
	<string>43008222370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anAgency</string>
	<key>PROJECT_ID</key>
	<string>an-agency-eae9a</string>
	<key>STORAGE_BUCKET</key>
	<string>an-agency-eae9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43008222370:ios:89be54c879d40e1cbaa3fb</string>
</dict>
</plist>